body{
    margin: 0px;
    padding: 0px;
    background-color: #06090b;
    color: #e7ece4;
    text-align: center;
    body{
        margin: 0px;
        padding: 0px;
        background-color: #5e8db4;
        color: #eaece8;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    h1{
        font-size: 45px;
        color: rgb(231, 217, 217);
    }
    
    input{
        width: 75px;
        height: 50px;
        font-size: 45px;
        border-radius: 10px;
        margin: 10px;
        background-color: rgb(240, 231, 231);
        color: rgb(15, 14, 14);
        border-style: none;
    
    }
    
    .btn:hover{
        background-color:rgb(222, 132, 214);
        cursor: pointer;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
    color: rgb(228, 183, 183);
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(227, 134, 134);
    color: rgb(11, 11, 11);
    border-style: none;

}

.btn:hover{
    background-color:
    
    rgb(216, 216, 113);
    cursor: pointer;
}